.bd-logo {
    flex: 1;
}

.logo {
    width: 36px;
}

.conteiner {
    padding-left: 100px;
    padding-top: 22px;
    padding-right: 0px;
    padding-bottom: 110px;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    flex-direction: row;
    display: flex;
}

.head1 a {
    color: #060A24;
    font-size: 16px;
}

.menu-color a {
    text-decoration: none;
    padding-right: 24px;
}

.menu-color li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
    font-weight: 500;
}

.menu-color li {
    margin-right: 20px;
    font-size: 16px;
    font-family: "IBM Plex Mono";
}

#menu-check,
.burger,
.close {
    display: none;
}

@media (max-width:600px) {
    .menu {
        flex-direction: column;
        display: flex;
        background-color: #0000EC;
    }
    .bd-logo {
        padding: 10px 100px 5px 16px;
    }
    .logo {
        width: 24px;
    }
    nav ul {
        flex-direction: column;
    }
    .head1 a {
        color: #ffffff;
        font-size: 16px;
    }
    .conteiner {
        display: flex;
        flex-wrap: wrap;
    }
    .menu li {
        margin: 12px;
    }
    .conteiner {
        padding: 0px;
        align-items: center;
    }
    .menu-mb {
        flex: 0 0 100%;
        transition: all 0.5s ease;
    }
    .menu-mb::-webkit-scrollbar {
        display: none;
    }
    .burger,
    .close {
        display: block;
        padding: 10px;
    }
    #menu-check:not(:checked)~.menu-mb {
        height: 0;
        overflow: hidden;
    }
    #menu-check:checked~.menu-mb {
        height: 182.400px;
        overflow: auto;
    }
    #menu-check:not(:checked)~.close {
        display: none;
    }
    #menu-check:checked~.burger {
        display: none;
    }
    #menu-check {
        display: none;
    }
}